.sidebar {
  width: 320px;
  height: 100vh;
  border-right: 1px solid #e5e7eb;
  background: #fff;

  display: flex;
  flex-direction: column;

  overflow: hidden;
  border-right: 1px solid lightgray;
  padding-bottom: 60px;
}

.section {
  margin-bottom: 8px;
  font-size: 20px;

  display: flex;
  flex-direction: column;
}

.list {
  overflow-y: auto;
}