.sidebar {
  width: 320px;
  height: 100%;
  border-right: 1px solid #e5e7eb;
  background: #fff;

  display: flex;
  flex-direction: column;

  overflow: hidden;

  border-right: 1px solid lightgray;
}