.chatWindowContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.textContainer {
  flex: 1;                
  display: flex;
  align-items: center;     
  justify-content: center; 
}

.text {
  font-size: 20px;
  color: gray;        
  text-align: center;
}