.item {
  display: flex;
  gap: 12px;
  padding: 10px 14px;
  cursor: pointer;
  transition: background 0.2s;
}

.item:hover {
  background-color: lightgray;
}

.active {
  background-color: lightblue;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  flex: 1;
  min-width: 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.name {
  font-weight: 600;
  margin-bottom: 10px;
  font-size: 18px;
}

.lastLine {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px; 
}

.lastMessage {
  font-size: 14px;
  color: #6b7280;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  flex: 1;
}

.time {
  white-space: nowrap;
  font-size: 13px;
  color: #9ca3af;
  flex-shrink: 0; 
}