.friendsWrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
  align-items: center;
}

.titleContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;

  flex-shrink: 0;
}

.title {
  font-size: 20px;
  font-weight: 600;
  color: #111827;
}

.empty {
  flex: 1;
  overflow-y: auto;

  padding: 32px 0;
  text-align: center;
  font-size: 20px;
  color: #6b7280;
}


.friendList {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 70%;
  min-width: 400px;
}

.friendItem {
  display: flex;
  align-items: center;
  gap: 12px;

  padding: 12px 16px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid lightgray;

  transition: background-color 0.2s ease;
}

.friendItem:hover {
  background-color: lightgray;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.info {
  display: flex;
  flex-direction: column;
}

.name {
  font-size: 20px;
  font-weight: 500;
  color: black;
}