.tabs {
  display: flex;
  justify-content: space-evenly;

  padding: 12px 24px;
  background-color: #ffffff;

  border-bottom: 1px solid #e5e7eb;
}

.tab {
  padding: 8px 16px;
  font-size: 14px;
  font-weight: 500;

  border-radius: 1000px;
  border: none;
  background-color: transparent;
  color: #374151;

  cursor: pointer;
  transition: all 0.2s ease;
}

.tab:hover {
  color: white;
  background-color: #0cd4df;
}


.active {
  background-color: #2563eb;
  color: #ffffff;
}

