.requestWrapper {
  height: 100%;

  display: flex;
  flex-direction: column;
  gap: 16px;

  justify-content: center;
  align-items: center;
}

.titleContainer {
  flex-shrink: 0;

  display: flex;
  flex-direction: row;
  justify-content: center;
}

.title {
  font-weight: 600;
  color: #111827;
  font-size: 20px;
}

.empty {
  flex: 1;
  overflow-y: auto;

  padding: 32px 0;
  text-align: center;
  font-size: 20px;
  color: #6b7280;
}

.requestList {
  flex: 1;
  overflow-y: auto;
  padding-bottom: 60px;

  display: flex;
  flex-direction: column;
  gap: 12px;

  width: 70%;
  min-width: 400px;
}

.requestItem {
  display: flex;
  align-items: flex-start;
  gap: 12px;

  padding: 14px 16px;
  background-color: #ffffff;
  border-radius: 12px;
  border: 1px solid lightgray;
}

.requestItem:hover {
  background-color: lightgray;
}

.avatar {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  flex-shrink: 0;
}

.info {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.name {
  font-size: 20px;
  font-weight: 500;
  color: #111827;
}

.message {
  font-size: 15px;
  color: #4b5563;
  line-height: 1.4;
  word-break: break-word;

  overflow: hidden;
}

.actions {
  display: flex;
  flex-direction: column;
  gap: 6px;
  min-width: 120px;
}

.acceptButton,
.declineButton {
  padding: 6px 0;
  border-radius: 8px;
  border: none;
  background-color: #2563eb;
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.acceptButton:hover,
.declineButton:hover {
  background-color: #0055ff;
}
