.row {
  display: flex;
  margin-bottom: 20px;
}

.other {
  justify-content: flex-start;
}

.mine {
  justify-content: flex-end;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.bubble {
  background: #f3f4f6;
  padding: 2px;
  border-radius: 14px;
}

.mine .bubble {
  background: #2a61da;
  color: white;
}

.image {
  max-width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.text {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 14px;
}

.rightTime {
  font-size: 11px;
  color: #6b7280;
  margin-top: 2px;
  align-self: flex-end;
}

.leftTime {
  font-size: 11px;
  color: #6b7280;
  margin-top: 0px;
  align-self: flex-start;
}