.row {
  display: flex;
  margin-bottom: 20px;
}

.other {
  justify-content: flex-start;
}

.mine {
  justify-content: flex-end;
}

.avatar {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 8px;
  object-fit: cover;
}

.content {
  max-width: 70%;
  display: flex;
  flex-direction: column;
}

.bubble {
  background: #f3f4f6;
  padding: 0px 5px;
  border-radius: 15px;
}

.mine .bubble {
  min-width: 30px;
  background: #2a61da;
  color: white;
}

.image {
  margin-top: 5px;
  max-width: 100%;
  max-height: 320px;
  object-fit: cover;
  border-radius: 10px;
}

.text {
  white-space: pre-wrap;
  word-break: break-word;
  font-size: 16px;
}

.rightTime {
  font-size: 12px;
  color: #6b7280;
  margin-top: 2px;
  align-self: flex-end;
}

.leftTime {
  font-size: 12px;
  color: #6b7280;
  margin-top: 0px;
  align-self: flex-start;
}

/* Wrapper cá»§a avatar */
.tip {
  position: relative;
  display: inline-block;
}

.tip:hover::after {
  content: attr(data-tooltip);
  position: absolute;
  top: 50%;
  left: calc(100% + 8px);     
  transform: translateY(-50%); 

  background: rgba(0, 0, 0, 0.85);
  color: #fff;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 12px;

  white-space: nowrap;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;

  z-index: 999;
}