.header {
  font-family: Roboto Arial;
  
  position: fixed;
  top: 0px;
  left: 0px;
  right: 0px;
  height: 60px;
  background-color: rgb(227, 227, 227);

  display: flex;
  flex-direction: row;
  justify-content: space-between;

  background-color: rgb(233, 232, 232);
}

/* Left section */
.leftSection {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.leftSectionLink {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  padding: 8px 14px;
  border-radius: 8px;

  text-decoration: none;
  color: #000000;
  font-weight: 100;
}

.leftSectionLink:hover {
  color: #9c2424;
  background-color: rgba(255,255,255,0.1);
}

.icon {
  width: 30px;
  height: 30px;
}

.linkName {
  font-size: 20px;
}

/* right section */
.rightSection {
  padding-right: 20px;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
}

.rightSectionLink {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  color: black;
  padding: 8px 14px;
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
}

.rightSectionLink:hover {
  color: #9c2424;
  background-color: rgba(255,255,255,0.1);
}

.buttonSignOut {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 6px;

  color: black;
  padding: 8px 14px;
  border-radius: 8px;

  text-decoration: none;
  font-weight: 500;
  border: none;
  cursor: pointer;
}

.buttonSignOut:hover {
  color: #9c2424;
  background-color: rgba(255,255,255,0.1);
}



