.app {
  font-family: Roboto Arial;

  height: 100vh;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.chatPageContainer {
  flex: 1;

  display: flex;
  overflow: hidden;
  flex-direction: row;
}