.profilePage {
  font-family: Roboto Arial;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.profilePageBody {
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: row;
  overflow: hidden;
}

/* Left Section */
.leftSection {
  width: 320px;
  padding: 24px;
  background-color: #ffffff;
  border-right: 1px solid #e5e7eb;

  display: flex;
  flex-direction: column;
  gap: 24px;

  flex-shrink: 0;    
  overflow: hidden;  
}

.avatarContainer {
  position: relative;
  width: 200px;
  height: 200px;
}

.avatar {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.uploadAvatarSection {
  position: absolute;
  bottom: 5px;
  right: 5px;
  cursor: pointer;
}

.cameraIcon {
  color: rgb(34, 136, 136);
}

.inputAvatar {
  display: none;
}

.informationContainer {
  width: 100%;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.information {
  width: 300px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.field {
  font-size: 20px;
  font-weight: 500;
  color: rgb(111, 111, 111); 
}

.info {
  display: flex;
  align-items: center;
  gap: 20px;

  max-width: 300px;
  padding: 10px 10px;
  border-radius: 10px;

  background-color: #f9fafb;
  border: 1px solid #b7b8ba;

  transition: background 0.2s, border-color 0.2s;
}

.info:hover {
  background-color: #f3f4f6;
  border-color: #838384;
}

.icon {
  font-size: 24px;
  color: #6366f1; /* indigo-500 */
  flex-shrink: 0;
}

.detail {
  font-size: 20px;
  font-weight: 500;
  color: black;
}


/* Right Section */
.rightSection {
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: #f9fafb;
  overflow: hidden; 
}

.contentWrapper {
  flex: 1;
  overflow-y: auto;
}



